<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.raionpunten">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cek"></activity>
        <activity android:name=".KantorActivity" />
        <activity android:name=".MasukKantorActivity" />
        <activity android:name=".LowonganActivity" />
        <activity android:name=".BerandaActivity" />
        <activity android:name=".HomeAdminActivity" />
        <activity android:name=".KaryawanActivity" />
        <activity android:name=".CariKerjaActivity" />
        <activity android:name=".BuatKerjaActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".DaftarAdminActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>